<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mitra.acd</title>
    <link rel="manifest" href="/manifest.json">
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">

    <!-- Vendor Stylesheets -->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap-select/css/bootstrap-select.min.css"
        asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap-icons-1.9.1/font/bootstrap-icons.css"
        asp-append-version="true">
    @* <link rel="stylesheet" type="text/css" href="~/vendor/OwlCarousel/assets/owl.carousel.css"
        asp-append-version="true"> *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        asp-append-version="true" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/vendor/OwlCarousel/assets/owl.theme.default.min.css"
        asp-append-version="true">
    <!-- JavaScripts -->

    <script src="~/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @* <script src="~/vendor/OwlCarousel/owl.carousel.js" asp-append-version="true"></script> *@
    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@@8.0.0/dist/browser/signalr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        asp-append-version="true"></script>
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" asp-append-version="true"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/notifikasiHub")
            .build();

        connection.on("TerimaNotifikasi", function (pesan) {
            Swal.fire({
                icon: 'info',
                title: 'Notifikasi Baru',
                text: pesan,
                toast: true,
                position: 'top-end',
                timer: 4000,
                showConfirmButton: false
            });
        });

        connection.start().catch(function (err) {
            console.error(err.toString());
        });
    </script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    <script src="~/js/Globalfunction.js" asp-append-version="true"></script>
</head>

<body class="fixed-bottom-bar">
    <div class="app-page">
        @await Html.PartialAsync("_Header")
        <div id="notifikasiArea"
            style="display:none; background-color: #fce703; padding: 15px; font-weight: bold; border-radius: 8px; position: fixed; top: 10px; right: 10px; z-index: 1000;">
        </div>
        @await Html.PartialAsync("_ModalLogin_Test")
        @RenderBody()
        @await Html.PartialAsync("_Footer")
    </div>

    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .then(() =>
                    console.log("Service Worker registered")
                )
                .catch(err => console.error("Service Worker registration failed", err));
        }
    </script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
