<!-- Edit Profile Modal Start -->
	<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-fullscreen-sm-down">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
					<button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
				</div>
				<div class="modal-body p-3">
					<div class="home-cart">
						<form class="cart-list">
							<div class="row g-3">
								<div class="col-6">
									<div class="form-group m-0">
										<input class="form-input input-shadow h_40 w-100 br-8 fs-8" value="John" type="text" placeholder="First Name*">
									</div>
								</div>
								<div class="col-6">
									<div class="form-group m-0">
										<input class="form-input input-shadow h_40 w-100 br-8 fs-8" value="Doe" type="text" placeholder="Last Name">
									</div>
								</div>
								<div class="col-6">
									<div class="form-group m-0">
										<input class="form-input input-shadow h_40 w-100 br-8 fs-8" value="1234567890" type="text" placeholder="Phone Number">
									</div>
								</div>
								<div class="col-6">
									<div class="form-group m-0">
										<input class="form-input input-shadow h_40 w-100 br-8 fs-8" type="text" value="johndoe@example.com" placeholder="Email Address">
									</div>
								</div>								
								<div class="col-12">
									<div class="address-check checkboxes">
										<input id="check-address" type="checkbox" name="addressCheckbox" checked>
										<label for="check-address">Send me mails on promotions, offers and services.</label>
									</div>
								</div>
								<div class="col-12">
									<button class="main-btn btn-hover h_40 br-8 w-100" type="submit">Update Information</button>
								</div>
							</div>
						</form>					
					</div>	
				</div>
			</div>
		</div>
	</div>
	<!-- Edit Profile Modal Start -->