<div class="modal fade" id="ShowDeskripsiUnit" tabindex="-1" aria-labelledby="ShowDeskripsiUnitLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-sm-down">
    <div class="modal-content shadow-lg border-0 rounded-4">
      <!-- Header Gradient Merah -->
      <div class="modal-header text-white rounded-top-4" style="background: linear-gradient(135deg, #d63031, #c0392b);">
        <h5 class="modal-title" id="ShowDeskripsiUnitLabel">
          <i class="bi bi-camera-video me-2"></i>  Foto Unit sebelum Pengerjaan
        </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4 bg-light">
      <p>Test</p>
      </div>
    </div>
  </div>
</div>