@{
    ViewData["Title"] = "Quotation Pengguna";
}

<div class="app-body pb-30">
    <div class="container">
        <div class="row">
            
            
        </div>
    </div>
</div>

<script>
    var $;
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
            console.error('jQuery is not loaded.');
            return;
        }
        $ = window.jQuery;
        Storage.set("CurrentPage","");
        loadHeader();
        checkStatusMitra().then(result => {
            if (result.data.status_mitra == 5) 
            {
                LoadListTask(0);
                initFilter();
            }
            else{
                Swal.fire({
                    title: "Akun Belum Aktif",
                    text: "Akun Mitra Anda belum aktif sepenuhnya. Silakan ikuti langkah aktivasi terlebih dahulu.",
                    icon: "info",
                    confirmButtonColor: "#198754",
                    confirmButtonText: "Ikuti Aktivasi",
                    timer: 6000,
                    timerProgressBar: true
                }).then(() => {
                    window.location.href = '@Url.Action("Index","Home")';
                });
            }
        });

    });

    function CloseModalLogin() {
        window.location.href = '@Url.Action("Index", "Home")';
        //$('#ModalLogin').modal('hide');
    }
</script>