@{
    ViewData["Title"] = "Home Page";
}

<style>
    .hover-shadow:hover {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08) !important;
        transition: box-shadow 0.3s ease-in-out;
    }
</style>

<div class="app-body pb-30">
    <div class="container mt-30 mb-30">
        <div class="position-relative mb-4">
            <input class="form-control ps-5 pe-5 shadow-sm rounded-pill" type="text" placeholder="Cari"
                id="searchInput">
            <i class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"></i>
            <button type="button"
                class="btn btn-light btn-sm rounded-circle shadow-sm position-absolute top-50 end-0 translate-middle-y me-2"
                onclick="LoadListBid()" title="Segarkan">
                <i class="bi bi-arrow-clockwise text-primary"></i>
            </button>
        </div>
        <div id="ListBid"></div>
    </div>
</div>
<script>
    var $;
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof window.jQuery === 'undefined') {
            console.error('jQuery is not loaded.');
            return;
        }
        $ = window.jQuery;
        Storage.set("CurrentPage","");
        loadHeader();
        var user = getUserInfo();
        if (!isValidUser(user)) {
            $("#TitleModalLogin").text("Silahkan login terlebih dahulu");
            $("#btnClsModalLogin").show();
            $('#ModalLogin').modal('show');
        }
        else {
            console.log(user);
            LoadListBid();
        }
    });
    function LoadListBid() {
        callApi({
            url: '/api/Biding/GetBid',
            method: 'GET',
            success: function (data) {
                var html = "";

                if (!data || data.length === 0) {
                    html = '<p class="text-center text-muted py-4">Belum ada pesanan yang disimpan.</p>';
                    $('#ListBid').html(html);
                }
                else {

                    console.log(data);
                    html = $.map(data, function (item) {
                        var scr = "";
                        var dtPesanan = '';
                        let TotalReg = 0;
                        item.cart_items.forEach(p => {
                            dtPesanan = dtPesanan +
                                `<li class="d-flex justify-content-between border-bottom">
                                    <span>${p.nama} &times; ${p.qty}</span>
                                    <span class="text-muted">${formatRupiah(p.sub_total)}</span>
                                </li>
                                `
                                ;
                            TotalReg = TotalReg+p.sub_total;
                        });

                        var paket = '';
                        if(Object.keys(item.paket).length > 0){
                            paket = `

                                <p class="d-flex justify-content-between">
                                    <span>${item.paket.deskripsi}</span>
                                    <span>${formatRupiah(TotalReg*item.paket.qty)}</span>
                                </p>
                                <p class="d-flex justify-content-between">
                                    <span>Diskon berlangganan</span>
                                    <span>- ${formatRupiah(((TotalReg*item.paket.qty)*item.paket.diskon)/100)}</span>
                                </p>
                                <strong class="d-flex justify-content-between">
                                    <span>Sub Total </span>
                                    <span class="">${formatRupiah(item.paket.total)}</span>
                                </strong>

                            `;
                        }
                        
                        let regmember ="";
                        if(item.jenis_layanan == "MEMBER")
                        {
                            regmember = `<span class="text-danger">Berlangganan</span>`;
                        }
                        else{
                            regmember = `<span class="text-dark">Reguler</span>`;
                        }
                        
                        paket = paket +
                        `
                            <p class="d-flex justify-content-between">
                                <span>Biaya Properti ${item.properti.nama_jenis}</span>
                                <span>${formatRupiah(item.properti.harga)}</span>
                            </p>
                            
                            <strong class="d-flex justify-content-between pt-20">
                                <span>Total Transaksi</span>
                                <span class="">${formatRupiah(item.total_transaksi)}</span>
                            </strong>
                        `
                        ;
                        var scr = "";
                        scr =`
                            <div class="card mb-3 position-relative shadow-sm border-1 p-3">
                                <!-- Header Pesanan -->
                                <div>
                                    <h5 class="card-title mb-1 fw-bold">
                                        <span class="text-primary">ACD - ${formatToSixDigits(item.id)}</span>
                                    </h5>
                                    
                                    <p class="card-text mb-0">
                                        <span class="text-dark">Layanan ${item.kategori_layanan}</span> - ${regmember}<br>
                                        Total Pesanan:
                                        <span class="fw-semibold text-success">${formatRupiah(item.total_transaksi)}</span>
                                    </p>
                                </div>

                                <!-- Accordion Detail Order -->
                                <div class="mt-1 w-100">
                                    <button class="accordion-minimal accordion-button collapsed p-0 border-0 bg-transparent"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOrder${item.id}"
                                        aria-expanded="true" aria-controls="collapseOrder">
                                        <span class="me-2 accordion-icon">▶</span>
                                        <strong class="text-muted">Detail Order</strong>
                                    </button>

                                    <div id="collapseOrder${item.id}" class="accordion-collapse collapse mt-2 w-100 mb-30">
                                        <ul class="list-unstyled mb-0" style="font-size: small;">
                                            ${dtPesanan}
                                        </ul>
                                        ${paket}
                                    </div>
                                </div>

                                <!-- Tombol Detail (pojok kanan bawah) -->
                                <button onclick="DetailPesanan(${item.id},'btnDetail${item.id}');" 
                                    class="btn btn-success btn-sm position-absolute bottom-0 end-0 m-2"
                                    id="BidOrder${item.id}"
                                    style="border-radius: 50%; width: 28px; height: 28px; display: flex; align-items: center; justify-content: center;">
                                    <i class="bi bi-arrow-right" style="font-size: 1rem;"></i>
                                </button>
                            </div>



                        `;
                        
                        return scr;
                    }).join('');
                        
                    $('#ListBid').html(html);
                }
            },
            error: function (err) {
                $('#ListBid').html('<p class="text-center text-muted py-4">Belum ada pesanan yang disimpan.</p>');
                
            },
            onBeforeSend: function () {
                $('#ListBid').html('<p class="text-center text-muted py-4">sedang memuat data.....</p>');
            },
        });
    }

    function BidOrder(id){
        var user = getUserInfo();
        var Data = {
            Id : id,
            MitraId : user.id
        }
        callApi({
                url: '/api/Biding/Takeit',
                method: 'POST',
                data: Data,
                success: function (res) {
                    Swal.fire({
                        title: '<strong>🎉 Berhasil Disimpan!</strong>',
                        html: 'Hasil Bid-mu telah ditambahkan ke Task list.<br><small>Halaman ini akan direload.</small>',
                        icon: 'success',
                        showConfirmButton: true,
                        confirmButtonText: 'Siap',
                        customClass: {
                            popup: 'rounded-4 shadow-lg',
                            title: 'fw-bold text-success',
                            confirmButton: 'btn btn-primary px-4 py-2 rounded-pill',
                        },
                        showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                        }
                    }).then(() => {
                        LoadListBid();
                    });
                },
                error: function (err) {
                    alert("Gagal: " + err);
                },
                onBeforeSend: function () {
                    $("#btnBid"+id).prop("disabled", true).text("Memproses...");
                },
                onComplete: function () {
                    $("#btnBid"+id).prop("disabled", false).text("Memproses...");
                }
            });
    }
</script>